.cardd {
  perspective: 150rem;
  -moz-perspective: 150rem;
  margin-bottom: 5%;
cursor: pointer;
  position: relative;
  height: 30rem;

  &__side {

    color: white;
    font-size: 2rem;
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    
    visibility:visible;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1rem 3rem rgba(#000, .15);

    &--front {
      background-color: darken($primary-color, 10);
    }

    &--back {
      background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-light);
      transform: rotateY(-180deg);
.back-text-lg {
  font-size: 1.6rem;
  padding: 3%;
  color: #777;
  font-weight: 500;
}
.back-text-sm {
  font-size: 1.2rem;
  padding: 10%;
  color: #777;
  line-height: 1.3;
  font-weight: 500;
}


ul {
  color: #777;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding-left: 0%;

  li {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }
  }

  .small-ul {
    color: #777;
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding-left: 0%;

    .small-li {
      font-size: 1.2rem;
      text-align: center;
      padding: 0.7rem;
      text-transform: uppercase;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }
    }

  }
  }
  }


  // &:hover &__side--front {
  //   transform: rotateY(180deg);
  // }

  // &:hover &__side--back {
  //   transform: rotateY(0);
  // }

  //FRONT SIDE STYLE
  &__picture {
    background-position: 70% 40%;
    background-size: cover;
    height: 25rem;
    background-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-light),
      url(../img/nailz.svg);

      }

      &--2 {
        background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-light),
          url(../img/piggy.jpg);
      }

      &--3 {
        background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-light),
          url(../img/flappy-pig.jpg);
        background-blend-mode: color;
      }

      &--4 {
        background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-light),
          url(../img/piggy-bank.jpg);
      }

      &--5 {
        background-image: linear-gradient(to right bottom, $secondary-color, $secondary-color-light),
          url(../img/weather.jpg);
        background-blend-mode: color;
      }
      }

      &__heading {
        font-size: 4rem;
        text-transform: uppercase;
        position: absolute;
        top: 14rem;
        width: 50%;
  }
&__heading-span {
  background-image: linear-gradient(to right bottom,
      rgba($secondary-color-dark, 2),
      rgba($secondary-color-light, 2));
  }

}
.inffo {
  position: relative;
  display: block;
  text-align: center;
}
.inffo:hover {
  position: relative;
  transform: scale(1.1);
  bottom: 2px;
  color: lighten($tertiary-color, 20);
}
.inffo:active {
  position: relative;
  top: 1px;
color: $tertiary-color;
box-shadow: 5px 73px 95px -24px white;

}
