//WideScreens
@include mediaXl {}

//Desktop & Laptops
@include mediaLg {}

//Tablets & small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/portrait3_small.jpg');
      width: 150px;
      height: 150px;
    }
  }
}

//Smartphones
@include mediaSm {
  #bg-img {
    @include background-small;
  }

  main {
    padding: 2rem;


    .lg-heading {

      font-size: 5rem;
      margin-top: 10vh;
    }
  }
.menu-nav {
  background: darken($primary-color, 9);
}

#about {
  padding: 2rem;

}

main#about h1 {
  font-size: 4rem;
  margin-top: 50px;

}
}