@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family:'Segoe UI',
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;
  line-height: 1.5;
  }

  //?HEADINGS

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
      font-size: 6rem;
    }

    &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), 0.5);
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  header {
    position: fixed;
    z-index: 2;
    width: 100%;
  }

  .text {
    color: $secondary-color;
  }

  main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
      margin-top: 1rem;

      a {
        padding: 0.4rem;

        &:hover {
          color: $secondary-color;
          @include easeOut();
          }
          }
    }
    &#home {
      overflow: hidden;

      h1 {
        margin-top: 20vh;
      }
    }
}
.bio-image {

  border: $secondary-color 3px solid;
  border-radius: 10%;
}

.bio {
  font-size: 2.5rem;
}

.iconz {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;

  &:hover {
    color: $secondary-color;
    @include easeOut();
  }
}

p {
  font-size: 1.6rem;
}

.foto {
  align-items: center;
}

.skilz {
  font-family: 'Miriam Libre', sans-serif;
  text-align: center;
  margin: 30px 0;
  text-transform: uppercase;
}

.about-info {
  padding-bottom: 3%;
  border-bottom: 3px dashed whitesmoke;

  letter-spacing: 4px;
}

//PROJECTS-WORK

.projects {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px thistle solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  background: darken($primary-color, 10);
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);

  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 12);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';